/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");

/* Light Theme */
:root {
  --ifm-color-primary: #007bff; /* Primary Blue */
  --ifm-color-primary-dark: #006fd6;
  --ifm-color-primary-darker: #0066c7;
  --ifm-color-primary-darkest: #0050a3;
  --ifm-color-primary-light: #339dff;
  --ifm-color-primary-lighter: #66b2ff;
  --ifm-color-primary-lightest: #99caff;
  --btn-bgclr: #3970fd;
  --btn-bgclr-hover: rgb(30 64 175);
  --btn-clr: white;
}

/* Dark Theme */
[data-theme="dark"] {
  --ifm-color-primary: #339dff; /* Slightly lighter blue for dark mode */
  --ifm-color-primary-dark: #2b8ae6;
  --ifm-color-primary-darker: #277fd4;
  --ifm-color-primary-darkest: #1f68b0;
  --ifm-color-primary-light: #66b2ff;
  --ifm-color-primary-lighter: #80c1ff;
  --ifm-color-primary-lightest: #99d0ff;
}
main {
  background-color: #f3f4f6;
  color: #000;
}

.custom-icon-link {
  font-size: 1.8rem;
  color: inherit;
  margin-left: 1rem;
}
.container {
  color: #353232;
  font-weight: 400;
  margin-top: 1rem;
}

.custom-icon-link:hover {
  color: #1f7da5;
  transform: scale(1.1);
  transition: color 0.2s, transform 0.2s;
}

#github-stars {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.header-github-link,
.header-linkedin-link {
  margin-left: 5px;
}

.header-github-link:hover,
.header-linkedin-link:hover {
  text-decoration: underline;
}

.navbar {
  background: #f3f4f6;
  height: 5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: inherit;
}
.navbar__link {
  color: black;
}
.navbar__link:hover {
  background: #f3f4f6;
}
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease; /* Smooth transitions */
}

.card:hover {
  border: 2px solid var(--ifm-color-primary-dark);
  transform: scale(1.03); /* Slightly enlarges the card */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Soft shadow for a lifted effect */
}

.breadcrumbs__item--active .breadcrumbs__link {
  color: #022041;
}

.navbar:hover {
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}
.markdown {
  margin: 3rem;
}
.menu {
  background: #f3f4f6;
  padding: 0.5rem 0.5rem 0.5rem 0.8rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100vh;
  position: sticky;
  top: 0;
  transition: opacity 50ms;
  overflow-y: scroll;
  scrollbar-color: darkgray lightgray;
}
.menu__link {
  text-transform: uppercase;
  color: #404e62;
  height: 3rem;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.menu__link:active {
  color: black;
}
.menu__list-item {
  border-bottom: 1px solid #b6b7b8;
  padding: 0.5rem;
}
.menu__list-item:hover {
  background-color: rgb(234, 237, 239);
}
/* WebKit Browsers */
::-webkit-scrollbar,
.menu ::-webkit-scrollbar {
  width: 15px; /* Compact width */
  height: 8px; /* Compact height */
  cursor: pointer;
}

::-webkit-scrollbar-thumb,
.menu ::-webkit-scrollbar-thumb {
  background: rgb(42, 49, 86); /* Default thumb color */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.2s ease, width 0.2s ease; /* Smooth hover effect */
}

::-webkit-scrollbar-thumb:hover,
.menu ::-webkit-scrollbar-thumb:hover {
  background: rgb(88, 100, 119); /* Darker color on hover */
}

::-webkit-scrollbar-track,
.menu ::-webkit-scrollbar-track {
  background: lightgray; /* Track color */
  border-radius: 5px; /* Rounded corners for track */
}

::-webkit-scrollbar-corner,
.menu ::-webkit-scrollbar-corner {
  background: transparent; /* Corner styling */
}

/* utils  */
.navbar__brand:hover,
.navbar__link:hover {
  color: #006fd6;
}
.button,
.button.button--secondary {
  background: var(--btn-bgclr);
  color: var(--btn-clr);
}
.button:hover,
.button.button--secondary:hover {
  color: var(--btn-clr);
  background: rgb(30 64 175);
}

.footer {
  background: #f3f4f6;
  border-top: 1px solid #b6b7b8;
}
.footer:hover {
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
}
.footer__title {
  color: #11111f;
}
.footer__icon {
  color: #262424;
}
a {
  color: #1f7da5;
}
a:hover {
  color: #1f7da5;
  text-decoration: underline;
}
.breadcrumbs__link {
  color: #525252;
}
.table-of-contents__link {
  color: #11111f;
}
.table-of-contents__link:hover {
  color: #11111f;
}
.toc-highlight:hover {
  color: #11111f;
}
.menu__link--active:hover {
  color: #11111f;
}
/* dark  */
[data-theme="dark"] .menu__list-item:hover {
  background-color: #383b502b;
}
[data-theme="dark"] .navbar__title {
  color: black;
}
[data-theme="dark"] .navbar__items {
  color: #c6d6ff;
}

[data-theme="dark"] .menu {
  background: #11111f;
  color: #c6d6ff;
}
[data-theme="dark"] main {
  background: #11111f;
  color: #c6d6ff;
}

[data-theme="dark"] .menu__link {
  color: #ffffff;
}
[data-theme="dark"] .navbar-sidebar__brand {
  background: #d9d9d9;
}

[data-theme="dark"] .container header {
  color: #c6d6ff;
}
[data-theme="dark"] .container {
  color: #c4c4d7;
}

[data-theme="dark"] .breadcrumbs__item--active .breadcrumbs__link {
  color: #919191;
  font-weight: 500;
}

[data-theme="dark"] .button,
.button.button--secondary {
  background: var(--btn-bgclr);
  color: var(--btn-clr);
}
[data-theme="dark"] .button.button--secondary:hover {
  color: var(--btn-clr);
}
[data-theme="dark"] .button:hover {
  background: var(--btn-bgclr-hover);
  color: var(--btn-clr);
}
[data-theme="dark"] .footer {
  background: #11111f;
}
[data-theme="dark"] .footer__icon {
  color: #c6d6ff;
}
[data-theme="dark"] .footer__title {
  color: #fff;
}

/* screen  */
@media (max-width: 500px) {
  .markdown {
    margin: 0;
  }
}
